/*----------RESET STYLES----------*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------GLOBAL SETTINGS----------*/

.section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------header--------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
    font-style: normal;
}

.address-menu-list {
    display: flex;
    gap: 40px;
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.accent {
    color: #4D5AE5
}

.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-menu-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-menu-link:hover,
.address-menu-link:focus {
    text-decoration: underline;
    color: #404bbf;
}

/*--------------main--------------*/

.main-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    background-color: #2e2f42;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.section-btn {
    min-width: 169px;
    height: 56;
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-btn:hover,
.section-btn:focus {
    background-color: #404bbf;
}

/*---------FEATURES SECTION----------*/

.section-features{
    padding: 120px 0;
}

.section-features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-features-item{
    width: calc((100% - 72px) / 4);
}

.section-features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--------SECTION TEAM---------*/

.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-title {
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.team-card {
    padding: 32px 16px;
    text-align: center;
}

.global-img-style{
    display: block;
    max-width: 100%;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

/*---------SECTION PORTFOLIO---------*/

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list-container{
}

.portfolio-content{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item{
    width: 360px;
}

.portfolio-item-subtitle {
    margin-bottom: 8px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*--------------footer--------------*/

.footer {
    padding: 100px 0;
    background:#2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}



